<!DOCTYPE HTML>

<head>

    <title>Slideshow</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script type="text/javascript" src="/global.js"></script>

</head>

<body>

  <div id="start"><button action="#">Start Slideshow</button></div>
  <div id="slide">
    <h1></h1>
    <p></p>
    <button class="next">Next Slide</button>
    <button class="prev">Previous Slide</button>
    
  </div>

</body>

</html>
