<!DOCTYPE HTML>

<head>

    <title>Slideshow</title>
    <link rel="stylesheet" href="/style.css" type="text/css">
    <script type="text/javascript" src="/global.js"></script>

</head>

<body>

  <div id="start"><button action="#">Start Slideshow</button></div>
  <div id="slide">
    <button id="prev_s"><img src="/images/arrow-left-t.png"></button>
    <button id="next_s"><img src="/images/arrow-right-t.png"></button>
    <h1></h1>
    <p></p>

    
    
  </div>

</body>

</html>
